{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Furniture shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <link rel="stylesheet" href="{% static '/css/nav.css' %}">
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    
</head>
<body>
    
      <nav>
        <div class="welcome">
            <marquee behavior="" direction=""><p> welcome to our furniture shop store!</p></marquee>
        </div>
    
        <div class="logo">
            <div class="name">
                <h1>Furniture</h1>
                <label for="power">E-shop</label>
            </div>
           
            <div class="search-box">
                
                <button class="btn-search"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                <input type="text" class="input-search" placeholder="Type to Search...">
                          
           </div>

           <div class="account">
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
           <p onclick="toggleMenu()"><i class="fa-solid fa-user"></i></p>  
        </div>
    </div>
    <div class="sub-menu-wrap" id="subMenu">
     <div class="sub-menu">
         <div class="user-info">
             <img src="/media/photos/profile.jpg" alt="">
             <h2>Hirwa Fidele</h2>
         </div>
         <hr>
         <a href="" class="sub-menu-links">
            <i class="fa-solid fa-user"></i>
            <p>Account</p>
            <span>></span>
         </a>
         <a href="" class="sub-menu-links">
            <i class="fa-solid fa-user"></i>
            <p>Account</p>
            <span>></span>
         </a>
         <a href="" class="sub-menu-links">
            <i class="fa-solid fa-user"></i>
            <p>Account</p>
            <span>></span>
         </a>
         <a href="" class="sub-menu-links">
            <i class="fa-solid fa-user"></i>
            <p>Account</p>
            <span>></span>
         </a>
     </div>
    </div>
        <div class="navbar">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#aboutpage"> Categories</a>
                <ul class="dropdown">
                    <li><a href="">household appliances</a>
                    
                        <ul class="dropdown2">
                             <li><a href="">Living room furniture</a></li>
                             <li><a href="">bedroom furniture</a></li>
                             <li><a href="">home office furniture</a></li>
                             <li><a href="">kicthen&dining furniture</a></li>
                        </ul>
                    </li>
                    <li><a href="">Construction materials</a>
                        <ul class="dropdown3">
                            <li><a href="">radio</a></li>
                            <li><a href="">radio</a></li>
                       </ul>
                    </li>
                    <li><a href="">Electronics</a>
                        <ul class="dropdown3">
                            <li><a href="">Phones</a></li>
                            <li><a href="">Radio</a></li>
                            <li><a href="">Headphones</a></li>
                            <li><a href="">Television</a></li>
                       </ul>
                    </li>
                </ul>
                </li>
                <li><a href="#educationpage">Shop</a></li>
                <li><a href="#projectpage">Our store</a></li>
                <li><a href="#contactpage">About Us</a></li>
                <li><a href="#contactpage">Contact Us</a></li>
                <li><a href="#contactpage">Blog</a></li>
            </ul>
            <div class="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
       
    </nav>
   <!------Home section ------------------>
   
<section class="home show-animate" id="home">
   <div class="percentage">

    <div class="bonus">
    <div class="icon">
   <i class='fas fa-shipping-fast'></i>
   </div>
   <div class="data">
   <h1>Free shipping & Return</h1>
   <p>Free shipping on all orders over $49</p>
  </div>
</div>

<div class="bonus">
    <div class="icon">
        <i class="fa-brands fa-creative-commons-sa"></i>
    </div>
    <div class="data">
        <h1>Money back guarantee</h1>
        <p>100% Money back guarantee</p>
    </div>
     </div>
         <div class="bonus">
         <div class="icon">
            <i class="fa-brands fa-scribd"></i>
            </div>
            <div class="data">
            <h1>Online Support 24/7</h1>
            <p>Awesome support for 24/7 days</p>
             </div>
             </div>
   </div>

   <div class="Categories">

    <div class="type1">
    <div class="household">
   <h1>Household appliances</h1>
   <p>Starting at $1</p>
   <button>Buy Now</button>
  </div>
</div>

<div class="type2">
    <div class="Construction">
        <h1>Construction materials</h1>
        <p>Starting at $1</p>
        <button>Buy Now</button>
         </div>
         </div>
         <div class="type3">
         <div class="electronic">
            <h1>Electronics</h1>
            <p>Starting at $1</p>
            <button>Buy Now</button>
             </div>
             </div>
   </div>

</section>

    <!----------------------------Featured product------------------------------------->

    <section class="featured">
        <div class="container">
            <h2 class="title"> Featured Product</h2>
        </div>



<div>
    
    {% for card in cards %}
  
    <div class="featured_product">
        <div class="photo">
          <img src="{{ card.photo.url }}" alt=" " width="250" height="230">
     </div>
      <div class="description">
        <p>{{ card.name }}</p>
        <p>{{ card.type }}</p>
        <p>{{ card.price }}</p>
        <p>{{ card.delivery_time }}</p>
        <p>{{ card.delivery_cost }}</p>
     </div>
    </div>

 {% endfor %}

    </section>
<!------------------------------Education section------------------------->
<h1></h1>
<!----------------Skills section--------------->

<!-------------footer page------->
<footer class="footer">
    <div class="home-sci">
        <p>Follow me on:</p>
        <a href="#"><i class="fa-brands fa-facebook fa-beat-fade"></i></a>
        <a href="#"><i class="fa-brands fa-instagram fa-beat-fade"></i></a>
        <a href="#"><i class="fa-brands fa-github fa-beat-fade" ></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp fa-beat-fade" ></i></a> 
        <a href="#"><i class="fa-brands fa-linkedin fa-beat-fade" ></i></a>
    </div><br>
    <hr />
    <div class="Copyright">
    <div class="footer-text">
        <p>Copyright &copy;2023 by castro | All Rights Reserved.</p>
    </div>
    <div class="footer-iconTop">
        <a href="#"><i class="fa-solid fa-arrow-up"></i></a>
    </div>
</div>
</footer>

<!------------------------------javascripts----------------------------------->
<script type="text/javascript" src="{% static '/css/javascript.js' %}"></script>
</body>
</html>